body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: #e25440;
}

a:hover {
	color: #b9301c;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}

.left_panel {
	min-height: 100vh;
	position: fixed;
	top: 0;
	padding-top: 10%;
	background-color: #2C3E50;
	color: #fff;
	width: 25%;
	float: left;
}

.nav > ul {
	list-style-type: none;
	padding: 10px;
}

.nav_button {
	background-color: #1a2530;
	margin-bottom: 10px;
}

.nav_button:hover {
	background-color: #43607C;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}

.current_menu_item {	
	background-color: #43607C;
}

.page_container, .footer {
	margin-left: 25%;
	margin-top: 50px;
	float: left;
	padding: 0 10%;
	word-break: break-word;
}

div.highlight {
	padding: 0 13px 0 13px;
	border-radius: 4px;
}

pre.highlight {
	padding: 13px 0 13px 0;
	margin: 0;
}

code.highlighter-rouge {
	padding: .1em .4em;
	background: #e8f2fb;
	border: 1px solid #c9e1f6;
	border-radius: 3px;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: .85em;
}

.carret {
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}

.carret-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid white;
}

.carret-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
}

.dropdown {
	display: none;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}