html {
	overflow-y: scroll;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
	height: auto;
}

/* 
██╗     ███████╗███████╗████████╗    ██████╗  █████╗ ███╗   ██╗███████╗██╗     
██║     ██╔════╝██╔════╝╚══██╔══╝    ██╔══██╗██╔══██╗████╗  ██║██╔════╝██║     
██║     █████╗  █████╗     ██║       ██████╔╝███████║██╔██╗ ██║█████╗  ██║     
██║     ██╔══╝  ██╔══╝     ██║       ██╔═══╝ ██╔══██║██║╚██╗██║██╔══╝  ██║     
███████╗███████╗██║        ██║       ██║     ██║  ██║██║ ╚████║███████╗███████╗
╚══════╝╚══════╝╚═╝        ╚═╝       ╚═╝     ╚═╝  ╚═╝╚═╝  ╚═══╝╚══════╝╚══════╝
 */

.left_panel {
	min-height: 100vh;
	position: fixed;
	top: 0;
	padding-top: 10%;
	background-color: #2C3E50;
	color: #fff;
	width: 25%;
	float: left;
}

.nav_header {
	border-bottom: 3px solid #233140;
	position: fixed;
	top: 0;
	width: 25%;
}

.nav_header a {
	text-decoration: none;
	color: white;
	font-weight: bolder;
	display: inline-block;
	width: 100%;
	text-align: center;
	top: 0;
	font-size: 2.5em; 
}

.nav ul {
	list-style-type: none;
	padding: 0;
}

.nav a {
	color: white;
	text-decoration: none;
	display: inline-block;	
	width: 100%;
	box-sizing: border-box;
}

.nav a:hover {
	background-color: #415161;
}

.menu_item {
	border: none;
	display: block;
	padding: 0 10px;
	text-decoration: none;
	color: #e25440;
}

.submenu_item {

	padding-left: 20px;
}

.menu_item:hover {
	cursor: pointer;	
}

#current_menu_item {	
	background-color: #273748;
}

.dropdown {
	display: none;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}

/*
██████╗  █████╗  ██████╗ ███████╗     ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗ ██╗███╗   ██╗███████╗██████╗ 
██╔══██╗██╔══██╗██╔════╝ ██╔════╝    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██║████╗  ██║██╔════╝██╔══██╗
██████╔╝███████║██║  ███╗█████╗      ██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║██╔██╗ ██║█████╗  ██████╔╝
██╔═══╝ ██╔══██║██║   ██║██╔══╝      ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║██║╚██╗██║██╔══╝  ██╔══██╗
██║     ██║  ██║╚██████╔╝███████╗    ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║██║██║ ╚████║███████╗██║  ██║
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝     ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝
*/

.page_container {
	margin-left: 25%;
	margin-top: 50px;
	float: left;
	padding: 0 10%;
	word-break: break-word;
	min-height: 100vh;
}

.footer_container {
	color: white;
	background-color: #233140;
	margin-left: 25%;
	margin-top: 50px;
	float: left;
	padding: 0 10%;
	width: 55%;
}

.page_container a {
	text-decoration: none;
	color: #e25440;
}

.page_container a:hover {
	color: #b9301c;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}

/*
██╗  ██╗██╗ ██████╗ ██╗  ██╗██╗     ██╗ ██████╗ ██╗  ██╗████████╗
██║  ██║██║██╔════╝ ██║  ██║██║     ██║██╔════╝ ██║  ██║╚══██╔══╝
███████║██║██║  ███╗███████║██║     ██║██║  ███╗███████║   ██║   
██╔══██║██║██║   ██║██╔══██║██║     ██║██║   ██║██╔══██║   ██║   
██║  ██║██║╚██████╔╝██║  ██║███████╗██║╚██████╔╝██║  ██║   ██║   
╚═╝  ╚═╝╚═╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝
*/

div.highlight {
	padding: 0 13px 0 13px;
	border-radius: 4px;
}

pre.highlight {
	padding: 13px 0 13px 0;
	margin: 0;
}

code.highlighter-rouge {
	padding: .1em .4em;
	background: #e8f2fb;
	border: 1px solid #c9e1f6;
	border-radius: 3px;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: .85em;
}