<nav class="nav">
	<ul>

		<a href="{{site.url}}/index.html">
			<li class="nav_button {% if page.url == '/' %}nav_current{% endif %}">
				<strong>HOME</strong>
			</li>
		</a>

		<a href="{{site.url}}/pages/setup/setup_required.html">
			<li class="nav_button {% if page.url == '/pages/setup/setup_required.html' %}nav_current{% endif %}">
				<strong>SETUP</strong>
			</li>
		</a>

		<a href="{{site.url}}/pages/softwares/softwares.html">
			<li class="nav_button {% if page.url == '/pages/softwares/softwares.html' %}nav_current{% endif %}">
				<strong>USEFUL SOFTWARES</strong>
			</li>
		</a>

	</ul>
</nav>