<nav class="nav_header">
	<a href="{{ site.baseurl }}/index.html">
		/__WIKI_<i class="fas fa-car-crash fa-flip-horizontal"></i>_<i class="fas fa-futbol"></i>__\
	</a>
</nav>

<div class="search_block">
	<input id="search_input" type="text" placeholder="Search ...">
	<div id="search_results"></div>
</div>

{% if page.indexed %}
<a class="improve" onclick="editPage(event, '{{ currentPage }}')">
	<i class="fas fa-edit improve_icon"></i><span class="improve_text">Edit this page</span>
</a>
{% endif %}

<nav class="nav">
	<ul>
		{% assign caterogies = nil %}
		{% assign caterogiesArray = nil %}

		{% for p in site.html_pages %}
			{% if p.dir contains '/pages/' %}

				{% assign pagePath = p.dir | append: p.name | replace: '.md', '.html' %}
				{% assign isCurrentPage = nil %}
				{% assign pagePathIfSelfCategory = '/pages/' | append: p.name | replace: '.md', '.html' %}

				{% if page.url == pagePath %}
					{% assign isCurrentPage = 'current_menu_item' %}
				{% endif %}

				{% if p.url == pagePathIfSelfCategory %}

					<li id="{{ isCurrentPage }}" class="js_identifier_menu_item">
						<a class="menu_item" href="{{ site.baseurl }}{{ p.url | replace: '.md', '.html' }}">
							<strong>{{ p.title | upcase | replace: '_', ' ' }} </strong>
						</a>
					</li>

				{% else %}

					{% assign category = p.dir | remove: '/pages/' | remove: '/' %}
					{% assign caterogiesArray = caterogies | split: ',' | uniq %}
					{% assign categoryExists = false %}

					{% for cat in caterogiesArray %}
						{% if cat == category %}
							{% assign categoryExists = true %}
							{% break %}
						{% endif %}
					{% endfor %}

					{% unless categoryExists %}
						
						{% assign caterogies = caterogies | append: category | append: ',' %}

						<li class="js_identifier_category">
							<a class="menu_item" onclick="changeDisplay(event, 'dropdown_{{ category }}', 'block')">
								<strong>{{ category | upcase | replace: '_', ' '}}</strong>
							</a>
							<ul id="dropdown_{{ category }}" class="dropdown">

								{% for sp in site.html_pages %}

									{% assign spCategory = sp.dir | remove: '/pages/' | remove: '/' %}

									{% if spCategory == category %}

										{% assign isCurrentSubPage = nil %}
										{% assign subpagePath = sp.dir | append: sp.name | replace: '.md', '.html' %}

										{% if page.url == subpagePath %}
											{% assign isCurrentSubPage = 'current_menu_item' %}
										{% endif %}

										<li id="{{ isCurrentSubPage }}" class="js_identifier_submenu_item">
											<a class="menu_item submenu_item" href="{{ sp.url }}">{{ sp.title | capitalize }}</a>
										</li>

									{% endif %}

								{% endfor %}

							</ul>
						</li>
					{% endunless %}
				{% endif %}

			{% endif %}
		{% endfor %}
	</ul>
</nav>