<nav class="nav">
    <ul>
        {% assign links = site.data.navigation %}
        {% for link in links %}

            {% assign isCurrentPage = nil %}

            {% if page.url contains link.url %}
                {% assign isCurrentPage = 'current_menu_item' %}
            {% endif %}

            {% assign count = increment counter %}

            {% if link.sublinks %}                

                <li class="{{ isCurrentPage }}">
                    <button onclick="changeDisplay('dropdown_{{ count }}', 'block')">{{ link.title }}<span class="caret"></span></button>
                    <ul id="dropdown_{{ count }}" class="dropdown">
                        {% for sublink in link.sublinks %}
                            <li>
                                <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

            {% else %}

                <li class="{{ isCurrentPage }}">
                    <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                </li>
                
            {% endif %}

        {% endfor %}
    </ul>
</nav>